body, html {
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Helvetica;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    user-select: none;
}

section {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    margin: 10px;
    width: 160px;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 30px;
    background-color: black;
    color: white;
    font-size: 0.8rem;
    letter-spacing: 2px;
    text-transform: uppercase;
    cursor: pointer;
}

.disabled {
    opacity: 0.6;
    pointer-events: none;
}

input {
    max-width: 350px;
    width: 100%;
    height: 50px;
    text-align: center;
    font-size: 1.4rem;
    color: black;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 2px solid black;
    margin-bottom: 2rem;
    outline: none;
    font-style: italic;
}

.static-text {
    font-size: 0.8rem;
    margin: 2rem 0;
    color: gray;
}

.title {
    font-size: 2rem;
    font-weight: normal;
    letter-spacing: 8px;
    position: relative;
    top: -10rem;
}

.game {
    overflow: hidden;
    transition: 1s ease;
    display: none;
}

.end {
    opacity: 0;
    top: 0;
    left: 0;
    transition: 1s ease;
    position: absolute;
    pointer-events: none;
    background-color: white;
}

.end.active {
    display: flex;
}

/* HANGMAN */

#head,
#body,
#arms,
#legs,
#scaffold {
    opacity: 0;
}



.one-wrong #head {
    opacity: 1;
}

.two-wrong #head,
.two-wrong #scaffold {
    opacity: 1;
}

.three-wrong #head,
.three-wrong #scaffold,
.three-wrong #legs {
    opacity: 1;
}

.four-wrong #head,
.four-wrong #scaffold,
.four-wrong #legs,
.four-wrong #arms {
    opacity: 1;
}

.five-wrong #head,
.five-wrong #scaffold,
.five-wrong #legs,
.five-wrong #arms,
.five-wrong #body {
    opacity: 1;
}

.five-wrong #scaffold,
.five-wrong #legs,
.five-wrong #arms,
.five-wrong #body {
    animation: shakeX 8s ease infinite alternate;
}

.word-wrapper {
    display: flex;
    margin-top: 10px;
    opacity: 0;
}

.word-wrapper .letter {
    width: 40px;
    height: 50px;
    margin: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    background-color: #e6e6e6;
    border-bottom: 5px solid #c0c0c0;
    animation: fadeUp 0.3s ease forwards;
    position: relative;
    bottom: -60px;
    opacity: 0;
}

.letter.active {
    bottom: 0;
    opacity: 1;
    animation: active 1s ease forwards;
    animation-delay: 0s !important;
}

.word-wrapper .letter p {
    opacity: 0;
}

.word-wrapper .letter.active p {
    opacity: 1;
}

.error-word-wrapper {
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    min-width: 300px;
    color: gray;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.score-wrapper {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 3rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.score-wrapper::before {
    content: "SCORE:";
    font-size: 0.75rem;
    letter-spacing: 2.5px;
    font-weight: normal;
}


@keyframes fadeUp {
    0% {
        bottom: -60px;
        opacity: 0;
    }
    100% {
        bottom: 0;
        opacity: 1;
    }
}

@keyframes active {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.25);
        box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.1);
    }
    100% {
        transform: scale(1);
    }
}